numpy==2.2.6
pandas==2.3.3
matplotlib==3.10.8
matplotlib-inline==0.1.7
mne==1.10.2
pycatch22==0.4.5
joblib==1.5.2
optuna==4.8.0
autoreject==0.4.3
gpytorch==1.14.3
scikit-learn==1.7.2
scipy==1.15.3
pycatch22==0.4.5
shap==0.49.1
xgboost==3.2.0
